{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        "@emotion/babel-plugin",
        "babel-plugin-twin",
        "babel-plugin-macros",
        "@babel/plugin-proposal-private-property-in-object"
    ]
}